@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 97%;
    --foreground: 240 10% 3.9%;
    --card: 120 100% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 100% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 27% 65%;
    --primary-foreground: 82 39% 10%;
    --secondary: 120 25% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 120 25% 94%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 82 39% 30%;
    --accent-foreground: 120 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 88%;
    --input: 120 25% 92%;
    --ring: 120 27% 65%;
    --chart-1: 120 76% 61%;
    --chart-2: 100 58% 39%;
    --chart-3: 80 37% 24%;
    --chart-4: 90 74% 66%;
    --chart-5: 110 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 82 20% 10%;
    --foreground: 120 10% 95%;
    --card: 82 20% 12%;
    --card-foreground: 120 10% 95%;
    --popover: 82 20% 10%;
    --popover-foreground: 120 10% 95%;
    --primary: 120 27% 65%;
    --primary-foreground: 82 39% 10%;
    --secondary: 82 25% 20%;
    --secondary-foreground: 120 10% 95%;
    --muted: 82 25% 20%;
    --muted-foreground: 120 5% 63%;
    --accent: 82 39% 40%;
    --accent-foreground: 120 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 82 25% 20%;
    --input: 82 25% 20%;
    --ring: 120 27% 65%;
    --chart-1: 120 70% 50%;
    --chart-2: 100 60% 45%;
    --chart-3: 80 80% 55%;
    --chart-4: 90 65% 60%;
    --chart-5: 110 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
